.logo-image {
  width: 23px;
  height: 37px;
}

.icons-cloud {
  background-image: url(../../icons/2-layers.svg);
  width: 37px;
  height: 27px;
  background-repeat: no-repeat;
  margin: 0 26px 20px -3px;
}
.icons-time {
  background-image: url(../../icons/8-layers.svg);
  width: 52px;
  height: 45px;
  background-repeat: no-repeat;
  margin: 0 26px 17px -18px;
}
.icons-list {
  background-image: url(../../icons/5-layers.svg);
  width: 53px;
  height: 52px;
  background-repeat: no-repeat;
  margin: 0 19px 13px -17px;
}
.icons-note {
  background-image: url(../../icons/7-layers.svg);
  width: 38px;
  height: 52px;
  background-repeat: no-repeat;
  margin: 0 22px 14px -11px;
}
@media (min-width: 1500px) {
  .companu-logo {
    width: auto;
    height: 100%;
    padding-top: 59px;
    padding-bottom: 47px;
    background-color: #f8f8f8;
  }
  .companu-logo > .container {
    width: 77.7%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .companu-logo > .container > div > img {
    align-self: flex-end;
  }
  .googl-logo {
    margin-bottom: -7.5px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .companu-logo {
    width: auto;
    height: 100%;
    padding-top: 59px;
    padding-bottom: 47px;
    background-color: #f8f8f8;
  }
  .companu-logo > .container {
    width: 77.7%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .companu-logo > .container > div > img {
    align-self: flex-end;
  }
  .googl-logo {
    margin-bottom: -7.5px;
  }
}
@media (min-width: 960px) and (max-width: 1200px) {
  .companu-logo {
    width: auto;
    height: 100%;
    padding-top: 59px;
    padding-bottom: 47px;
    background-color: #f8f8f8;
  }
  .companu-logo > .container {
    width: 97.7%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .companu-logo > .container > div > img {
    align-self: flex-end;
    width: 73%;
  }
  .googl-logo {
    margin-bottom: -7.5px;
  }
}
@media (min-width: 640px) and (max-width: 960px) {
  .companu-logo {
    width: auto;
    height: 100%;
    padding-top: 29px;
    padding-bottom: 23px;
    background-color: #f8f8f8;
  }
  .companu-logo > .container {
    width: 97.7%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .companu-logo > .container > div {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 11px;
  }
  .companu-logo > .container > div > img {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
  }
  .companu-logo > .container > .firefox-logo {
    width: 100%;
  }
  .companu-logo > .container > .firefox-logo > img {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    width: 15%;
  }
  .googl-logo {
    margin-bottom: -7.5px;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .companu-logo {
    width: auto;
    height: 100%;
    padding-top: 29px;
    padding-bottom: 23px;
    background-color: #f8f8f8;
  }
  .companu-logo > .container {
    width: 97.7%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .companu-logo > .container > div {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 11px;
  }
  .companu-logo > .container > div > img {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
  }
  .companu-logo > .container > .firefox-logo {
    width: 100%;
  }
  .companu-logo > .container > .firefox-logo > img {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    width: 15%;
  }
  .googl-logo {
    margin-bottom: -7.5px;
  }
  /*icons*/
  .icons-cloud {
    background-image: url(../../icons/2-layers.svg);
    height: 25px;
    background-repeat: no-repeat;
    margin: 0 0 20px -10px;
  }
  .icons-time {
    background-image: url(../../icons/8-layers.svg);
    width: 52px;
    height: 55px;
    background-repeat: no-repeat;
    margin: 0 2px 17px -18px;
  }
  .icons-list {
    background-image: url(../../icons/5-layers.svg);
    width: 33px;
    height: 32px;
    background-repeat: no-repeat;
    margin: 0 1px 13px -17px;
  }
  .icons-note {
    background-image: url(../../icons/7-layers.svg);
    width: 32px;
    height: 46px;
    background-repeat: no-repeat;
    margin: 0 2px 14px -11px;
  }
}
