@media (min-width: 1499px) {
  .slider-new {
    background-color: #f1f1f2;
    padding-bottom: 75px;
    margin-top: 120px;
  }
  .slider-new > h4 {
    margin: 0;
    padding: 154px 0 110px 17.6%;
    opacity: 0.9;
    color: #2d394c;
    font-family: Ubuntu;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .slider-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .slider-nev-container {
    width: 92%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f1f1f2;
  }
  .slider-imege {
    width: 46.5%;
    margin-bottom: 40px;
  }
  .slider-imege > img {
    width: 100%;
    height: 230px;
  }
  .card-slider-article {
    width: 100%;
    height: 192px !important;
  }
  .article-slider-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .first-slider-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.88;
    color: #2d394c;
    font-family: Ubuntu;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
  }
  .icons-slider-cloud {
    background-image: url(../../icons/2-layers.svg);
    width: 37px;
    height: 27px;
    background-repeat: no-repeat;
    margin: 0 35px 0 4px;
  }
  .card-slider-article > p {
    margin: 0;
    opacity: 0.89;
    color: #5a626e;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    width: 131px !important;
    left: 76% !important;
  }

  /*slider code */
  .slid {
    background-color: #f1f1f2;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    height: 260px;
    width: 53%;
  }

  .swiper-container {
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 99%;
    height: 192px;
    background-color: #f1f1f2;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* custmm bullets style */
  .swiper-pagination-bullet {
    width: 24px !important;
    height: 23px !important;
    text-align: center !important;
    line-height: 20px !important;
    font-size: 15px !important;
    color: #2d394c !important;
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0) !important;
    opacity: 0.27;
  }
  .swiper-pagination-bullet-active {
    color: white !important;
    background: #007aff !important;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .slider-new {
    padding-top: 85px;
    background-color: #f1f1f2;
    padding-bottom: 45px;
  }
  .slider-new > h4 {
    margin: 0;
    text-align: center;
    opacity: 0.9;
    color: #2d394c;
    font-family: Ubuntu;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .slider-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .slider-nev-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f1f1f2;
  }
  .slider-imege {
    display: none;
  }

  .card-slider-article {
    width: 100%;
    height: 192px !important;
  }
  .article-slider-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .first-slider-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.88;
    color: #2d394c;
    font-family: Ubuntu;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
  }
  .icons-slider-cloud {
    background-image: url(../../icons/2-layers.svg);
    width: 37px;
    height: 27px;
    background-repeat: no-repeat;
    margin: 0 35px 0 4px;
  }
  .card-slider-article > p {
    margin: 0;
    opacity: 0.89;
    color: #5a626e;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    width: 131px !important;
    left: 76% !important;
  }

  /*slider code */
  .slid {
    background-color: #f1f1f2;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    height: 260px;
    width: 63%;
    margin: auto;
  }

  .swiper-container {
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 99%;
    height: 192px;
    background-color: #f1f1f2;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* custmm bullets style */
  .swiper-pagination-bullet {
    width: 24px !important;
    height: 23px !important;
    text-align: center !important;
    line-height: 20px !important;
    font-size: 15px !important;
    color: #000 !important;
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0) !important;
  }
  .swiper-pagination-bullet-active {
    color: white !important;
    background: #007aff !important;
  }
}
@media (min-width: 959px) and (max-width: 1199px) {
  .slider-new {
    padding-top: 55px;
    background-color: #f1f1f2;
    padding-bottom: 35px;
  }
  .slider-new > h4 {
    margin: 0;
    text-align: center;
    opacity: 0.9;
    color: #2d394c;
    font-family: Ubuntu;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .slider-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .slider-nev-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f1f1f2;
  }
  .slider-imege {
    display: none;
  }

  .card-slider-article {
    width: 100%;
    height: 192px !important;
  }
  .article-slider-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .first-slider-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.88;
    color: #2d394c;
    font-family: Ubuntu;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
  }
  .icons-slider-cloud {
    background-image: url(../../icons/2-layers.svg);
    width: 37px;
    height: 27px;
    background-repeat: no-repeat;
    margin: 0 35px 0 4px;
  }
  .card-slider-article > p {
    margin: 0;
    opacity: 0.89;
    color: #5a626e;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    width: 131px !important;
    left: 76% !important;
  }

  /*slider code */
  .slid {
    background-color: #f1f1f2;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    height: 260px;
    width: 63%;
    margin: auto;
  }

  .swiper-container {
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 99%;
    height: 192px;
    background-color: #f1f1f2;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* custmm bullets style */
  .swiper-pagination-bullet {
    width: 24px !important;
    height: 23px !important;
    text-align: center !important;
    line-height: 20px !important;
    font-size: 15px !important;
    color: #000 !important;
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0) !important;
  }
  .swiper-pagination-bullet-active {
    color: white !important;
    background: #007aff !important;
  }
}
@media (min-width: 639px) and (max-width: 959px) {
  .slider-new {
    padding-top: 30px;
    background-color: #f1f1f2;
    padding-bottom: 25px;
  }
  .slider-new > h4 {
    margin: 0;
    text-align: center;
    opacity: 0.9;
    color: #2d394c;
    font-family: Ubuntu;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .slider-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .slider-nev-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f1f1f2;
  }
  .slider-imege {
    display: none;
  }

  .card-slider-article {
    width: 100%;
    height: 192px !important;
  }
  .article-slider-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .first-slider-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.88;
    color: #2d394c;
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
  }
  .icons-slider-cloud {
    background-image: url(../../icons/2-layers.svg);
    width: 37px;
    height: 27px;
    background-repeat: no-repeat;
    margin: 0 5px 0 4px;
  }
  .card-slider-article > p {
    margin: 0;
    opacity: 0.89;
    color: #5a626e;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    text-align: left;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    width: 131px !important;
    margin: auto !important;
  }

  /*slider code */
  .slid {
    background-color: #f1f1f2;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    height: 260px;
    width: 63%;
    margin: auto;
  }

  .swiper-container {
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 99%;
    height: 192px;
    background-color: #f1f1f2;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* custmm bullets style */
  .swiper-pagination-bullet {
    width: 24px !important;
    height: 23px !important;
    text-align: center !important;
    line-height: 20px !important;
    font-size: 15px !important;
    color: #000 !important;
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0) !important;
  }
  .swiper-pagination-bullet-active {
    color: white !important;
    background: #007aff !important;
  }
}
@media (min-width: 320px) and (max-width: 639px) {
  .slider-new {
    padding: 20px 0;
    background-color: #f1f1f2;
  }
  .slider-new > h4 {
    margin: 0;
    text-align: center;
    opacity: 0.9;
    color: #2d394c;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .slider-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .slider-nev-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f1f1f2;
  }
  .slider-imege {
    display: none;
  }

  .card-slider-article {
    width: 100%;
    height: 192px !important;
  }
  .article-slider-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .first-slider-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.88;
    color: #2d394c;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
  }
  .icons-slider-cloud {
    background-image: url(../../icons/2-layers.svg);
    width: 37px;
    height: 27px;
    background-repeat: no-repeat;
    margin: 1px 5px 10px 4px;
  }
  .card-slider-article > p {
    margin: 0;
    opacity: 0.89;
    color: #5a626e;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    text-align: left;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    display: none;
  }

  /*slider code */
  .slid {
    background-color: #f1f1f2;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    height: 260px;
    width: 63%;
    margin: auto;
  }

  .swiper-container {
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 99%;
    height: 192px;
    background-color: #f1f1f2;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* custmm bullets style */
  .swiper-pagination-bullet {
    width: 24px !important;
    height: 23px !important;
    text-align: center !important;
    line-height: 20px !important;
    font-size: 15px !important;
    color: #000 !important;
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0) !important;
  }
  .swiper-pagination-bullet-active {
    color: white !important;
    background: #007aff !important;
  }
}
